In [3]:
#Imports
import sqlite3
import pandas as pd

In [4]:
#Importing Covid Deaths file with pandas into CD variable
CD = pd.read_csv("CovidDeaths.csv")

#creating connection variable
connection = sqlite3.connect('CovidDeaths.db')

#creating database
CD.to_sql('Covid_Deaths', connection, if_exists='replace')

365526

In [5]:
#closing connection
connection.close()

In [6]:
#Importing Covid Vaccine file
CV = pd.read_csv("CovidVaccinations.csv")

connection = sqlite3.connect('CovidVaccinations.db')

CV.to_sql('Covid_Vaccinations', connection, if_exists='replace')

365526

In [7]:
connection.close()

In [8]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [9]:
%load_ext sql

In [10]:
#Covid Deaths datasheet
%sql sqlite:///CovidDeaths.db

In [11]:
%%sql
SELECT * From Covid_Deaths
Where continent is not null
LIMIT 5

 * sqlite:///CovidDeaths.db
Done.

[(0, 'AFG', 'Asia', 'Afghanistan', '1/3/20', 41128772, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None),
 (1, 'AFG', 'Asia', 'Afghanistan', '1/4/20', 41128772, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None),
 (2, 'AFG', 'Asia', 'Afghanistan', '1/5/20', 41128772, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None),
 (3, 'AFG', 'Asia', 'Afghanistan', '1/6/20', 41128772, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None),
 (4, 'AFG', 'Asia', 'Afghanistan', '1/7/20', 41128772, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None)]

In [12]:
#Covid Vaccinations datasheet
%sql sqlite:///CovidVaccinations.db

In [13]:
%%sql
SELECT * From Covid_Vaccinations
order by 3,4
LIMIT 5

   sqlite:///CovidDeaths.db
 * sqlite:///CovidVaccinations.db
Done.

[(1447, 'OWID_AFR', None, 'Africa', '1/3/20', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (1448, 'OWID_AFR', None, 'Africa', '1/4/20', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (1449, 'OWID_AFR', None, 'Africa', '1/5/20', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (1450, 'OWID_AFR', None, 'Africa', '1/6/20', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (1451, 'OWID_AFR', None, 'Africa', '1/7/20', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)]

In [14]:
%sql sqlite:///CovidDeaths.db

In [15]:
%%sql
Select Location, date, total_cases, new_cases, total_deaths, population
From Covid_Deaths
Where continent is not null
LIMIT 5

 * sqlite:///CovidDeaths.db
   sqlite:///CovidVaccinations.db
Done.

[('Afghanistan', '1/3/20', None, 0.0, None, 41128772),
 ('Afghanistan', '1/4/20', None, 0.0, None, 41128772),
 ('Afghanistan', '1/5/20', None, 0.0, None, 41128772),
 ('Afghanistan', '1/6/20', None, 0.0, None, 41128772),
 ('Afghanistan', '1/7/20', None, 0.0, None, 41128772)]

In [16]:
#Looking at Total Cases vs Total Deaths in

In [26]:
%%sql
Select location, date, total_cases, new_cases, total_deaths, (total_deaths/total_cases)*100 as DeathPercentage
From Covid_Deaths
Where continent is not null
LIMIT 50

 * sqlite:///CovidDeaths.db
   sqlite:///CovidVaccinations.db
Done.

[('Afghanistan', '1/3/20', None, 0.0, None, None),
 ('Afghanistan', '1/4/20', None, 0.0, None, None),
 ('Afghanistan', '1/5/20', None, 0.0, None, None),
 ('Afghanistan', '1/6/20', None, 0.0, None, None),
 ('Afghanistan', '1/7/20', None, 0.0, None, None),
 ('Afghanistan', '1/8/20', None, 0.0, None, None),
 ('Afghanistan', '1/9/20', None, 0.0, None, None),
 ('Afghanistan', '1/10/20', None, 0.0, None, None),
 ('Afghanistan', '1/11/20', None, 0.0, None, None),
 ('Afghanistan', '1/12/20', None, 0.0, None, None),
 ('Afghanistan', '1/13/20', None, 0.0, None, None),
 ('Afghanistan', '1/14/20', None, 0.0, None, None),
 ('Afghanistan', '1/15/20', None, 0.0, None, None),
 ('Afghanistan', '1/16/20', None, 0.0, None, None),
 ('Afghanistan', '1/17/20', None, 0.0, None, None),
 ('Afghanistan', '1/18/20', None, 0.0, None, None),
 ('Afghanistan', '1/19/20', None, 0.0, None, None),
 ('Afghanistan', '1/20/20', None, 0.0, None, None),
 ('Afghanistan', '1/21/20', None, 0.0, None, None),
 ('Afghanistan', '1/22/20', None, 0.0, None, None),
 ('Afghanistan', '1/23/20', None, 0.0, None, None),
 ('Afghanistan', '1/24/20', None, 0.0, None, None),
 ('Afghanistan', '1/25/20', None, 0.0, None, None),
 ('Afghanistan', '1/26/20', None, 0.0, None, None),
 ('Afghanistan', '1/27/20', None, 0.0, None, None),
 ('Afghanistan', '1/28/20', None, 0.0, None, None),
 ('Afghanistan', '1/29/20', None, 0.0, None, None),
 ('Afghanistan', '1/30/20', None, 0.0, None, None),
 ('Afghanistan', '1/31/20', None, 0.0, None, None),
 ('Afghanistan', '2/1/20', None, 0.0, None, None),
 ('Afghanistan', '2/2/20', None, 0.0, None, None),
 ('Afghanistan', '2/3/20', None, 0.0, None, None),
 ('Afghanistan', '2/4/20', None, 0.0, None, None),
 ('Afghanistan', '2/5/20', None, 0.0, None, None),
 ('Afghanistan', '2/6/20', None, 0.0, None, None),
 ('Afghanistan', '2/7/20', None, 0.0, None, None),
 ('Afghanistan', '2/8/20', None, 0.0, None, None),
 ('Afghanistan', '2/9/20', None, 0.0, None, None),
 ('Afghanistan', '2/10/20', None, 0.0, None, None),
 ('Afghanistan', '2/11/20', None, 0.0, None, None),
 ('Afghanistan', '2/12/20', None, 0.0, None, None),
 ('Afghanistan', '2/13/20', None, 0.0, None, None),
 ('Afghanistan', '2/14/20', None, 0.0, None, None),
 ('Afghanistan', '2/15/20', None, 0.0, None, None),
 ('Afghanistan', '2/16/20', None, 0.0, None, None),
 ('Afghanistan', '2/17/20', None, 0.0, None, None),
 ('Afghanistan', '2/18/20', None, 0.0, None, None),
 ('Afghanistan', '2/19/20', None, 0.0, None, None),
 ('Afghanistan', '2/20/20', None, 0.0, None, None),
 ('Afghanistan', '2/21/20', None, 0.0, None, None)]

In [18]:
%%sql

Select SUM(new_cases) as total_cases, SUM(cast(new_deaths as int)) as total_deaths, SUM(cast(new_deaths as int))/SUM(New_Cases)*100 as DeathPercentage
From Covid_Deaths
where continent is not null

 * sqlite:///CovidDeaths.db
   sqlite:///CovidVaccinations.db
Done.

[(772919665.0, 6978292, 0.902848292778267)]

In [27]:
#Shows total percentage of population that got Covid
%%sql

Select location, date, population, total_cases, (total_cases/population)*100 as Percent_Infected
From Covid_Deaths
Where location like '%states%'
LIMIT 50

 * sqlite:///CovidDeaths.db
   sqlite:///CovidVaccinations.db
Done.

[('United States', '1/3/20', 338289856, None, None),
 ('United States', '1/4/20', 338289856, None, None),
 ('United States', '1/5/20', 338289856, None, None),
 ('United States', '1/6/20', 338289856, None, None),
 ('United States', '1/7/20', 338289856, None, None),
 ('United States', '1/8/20', 338289856, None, None),
 ('United States', '1/9/20', 338289856, None, None),
 ('United States', '1/10/20', 338289856, None, None),
 ('United States', '1/11/20', 338289856, None, None),
 ('United States', '1/12/20', 338289856, None, None),
 ('United States', '1/13/20', 338289856, None, None),
 ('United States', '1/14/20', 338289856, None, None),
 ('United States', '1/15/20', 338289856, None, None),
 ('United States', '1/16/20', 338289856, None, None),
 ('United States', '1/17/20', 338289856, None, None),
 ('United States', '1/18/20', 338289856, None, None),
 ('United States', '1/19/20', 338289856, None, None),
 ('United States', '1/20/20', 338289856, 1.0, 2.956044889504461e-07),
 ('United States', '1/21/20', 338289856, 1.0, 2.956044889504461e-07),
 ('United States', '1/22/20', 338289856, 1.0, 2.956044889504461e-07),
 ('United States', '1/23/20', 338289856, 1.0, 2.956044889504461e-07),
 ('United States', '1/24/20', 338289856, 1.0, 2.956044889504461e-07),
 ('United States', '1/25/20', 338289856, 6.0, 1.7736269337026767e-06),
 ('United States', '1/26/20', 338289856, 7.0, 2.069231422653123e-06),
 ('United States', '1/27/20', 338289856, 7.0, 2.069231422653123e-06),
 ('United States', '1/28/20', 338289856, 8.0, 2.3648359116035687e-06),
 ('United States', '1/29/20', 338289856, 8.0, 2.3648359116035687e-06),
 ('United States', '1/30/20', 338289856, 8.0, 2.3648359116035687e-06),
 ('United States', '1/31/20', 338289856, 8.0, 2.3648359116035687e-06),
 ('United States', '2/1/20', 338289856, 8.0, 2.3648359116035687e-06),
 ('United States', '2/2/20', 338289856, 9.0, 2.660440400554015e-06),
 ('United States', '2/3/20', 338289856, 10.0, 2.956044889504461e-06),
 ('United States', '2/4/20', 338289856, 13.0, 3.8428583563558e-06),
 ('United States', '2/5/20', 338289856, 17.0, 5.025276312157584e-06),
 ('United States', '2/6/20', 338289856, 19.0, 5.616485290058476e-06),
 ('United States', '2/7/20', 338289856, 19.0, 5.616485290058476e-06),
 ('United States', '2/8/20', 338289856, 19.0, 5.616485290058476e-06),
 ('United States', '2/9/20', 338289856, 20.0, 5.912089779008922e-06),
 ('United States', '2/10/20', 338289856, 20.0, 5.912089779008922e-06),
 ('United States', '2/11/20', 338289856, 20.0, 5.912089779008922e-06),
 ('United States', '2/12/20', 338289856, 20.0, 5.912089779008922e-06),
 ('United States', '2/13/20', 338289856, 20.0, 5.912089779008922e-06),
 ('United States', '2/14/20', 338289856, 22.0, 6.503298756909814e-06),
 ('United States', '2/15/20', 338289856, 23.0, 6.79890324586026e-06),
 ('United States', '2/16/20', 338289856, 24.0, 7.094507734810707e-06),
 ('United States', '2/17/20', 338289856, 24.0, 7.094507734810707e-06),
 ('United States', '2/18/20', 338289856, 24.0, 7.094507734810707e-06),
 ('United States', '2/19/20', 338289856, 26.0, 7.6857167127116e-06),
 ('United States', '2/20/20', 338289856, 31.0, 9.163739157463828e-06),
 ('United States', '2/21/20', 338289856, 34.0, 1.0050552624315168e-05)]

In [28]:
%%sql

Select location, population, MAX(total_cases) as HighestInfectionCount, Max((total_cases/population))*100 as Percent_Infected
From Covid_Deaths
Group by location, population
order by Percent_Infected desc
LIMIT 50

 * sqlite:///CovidDeaths.db
   sqlite:///CovidVaccinations.db
Done.

[('San Marino', 33690, 25292.0, 75.07272187592757),
 ('Cyprus', 896007, 660854.0, 73.7554505712567),
 ('Brunei', 449002, 321235.0, 71.54422474732853),
 ('Austria', 8939617, 6081287.0, 68.02625884308019),
 ('South Korea', 51815808, 34571873.0, 66.72070615978815),
 ('Faeroe Islands', 53117, 34658.0, 65.24841387879586),
 ('Slovenia', 2119843, 1350022.0, 63.68499931362841),
 ('Gibraltar', 32677, 20550.0, 62.8882700370291),
 ('Martinique', 367512, 230354.0, 62.67931387274429),
 ('Andorra', 79843, 48015.0, 60.1367684080007),
 ('Jersey', 110796, 66391.0, 59.92183833351385),
 ('Luxembourg', 647601, 387467.0, 59.83113058812448),
 ('Saint Pierre and Miquelon', 5885, 3426.0, 58.21580288870008),
 ('Denmark', 5882259, 3423176.0, 58.19492137289433),
 ('France', 67813000, 38997490.0, 57.507395337177236),
 ('Iceland', 372903, 209503.0, 56.181634366041564),
 ('Guernsey', 63329, 35326.0, 55.78171138025233),
 ('Portugal', 10270857, 5634044.0, 54.8546630529468),
 ('Liechtenstein', 39355, 21561.0, 54.78592300851226),
 ('Greece', 10384972, 5494594.0, 52.90908824790284),
 ('Latvia', 1850654, 977068.0, 52.79582244979343),
 ('Guadeloupe', 395762, 203235.0, 51.352833268479536),
 ('Israel', 9449000, 4841772.0, 51.24110487882315),
 ('Reunion', 974062, 494595.0, 50.7765419449686),
 ('Switzerland', 8740471, 4436359.0, 50.756521015858304),
 ('Falkland Islands', 3801, 1923.0, 50.59194948697711),
 ('Singapore', 5637022, 2827115.0, 50.15263378429249),
 ('Saint Barthelemy', 10994, 5507.0, 50.09095870474805),
 ('Georgia', 3744385, 1855289.0, 49.54856404990405),
 ('Lithuania', 2750058, 1359230.0, 49.42550302575437),
 ('Netherlands', 17564020, 8623210.0, 49.09587896165001),
 ('Seychelles', 107135, 51220.0, 47.80883931488309),
 ('Bahrain', 1472237, 696614.0, 47.31670240593056),
 ('Monaco', 36491, 17181.0, 47.082842344687734),
 ('New Zealand', 5185289, 2434052.0, 46.94149159285047),
 ('Germany', 83369840, 38437756.0, 46.10510947364179),
 ('Niue', 1952, 895.0, 45.85040983606557),
 ('Cayman Islands', 68722, 31472.0, 45.79610605046419),
 ('Estonia', 1326064, 604950.0, 45.61997007685903),
 ('Isle of Man', 84534, 38008.0, 44.96179052215676),
 ('Czechia', 10493990, 4713739.0, 44.91846285349996),
 ('Italy', 59037472, 26433512.0, 44.77412582977808),
 ('Australia', 26177410, 11698780.0, 44.69036470758566),
 ('Bonaire Sint Eustatius and Saba', 27052, 11922.0, 44.070678692887775),
 ('Nauru', 12691, 5393.0, 42.49468127019148),
 ('Cook Islands', 17032, 7218.0, 42.37905119774542),
 ('Aruba', 106459, 44224.0, 41.54087489080303),
 ('Belgium', 11655923, 4836886.0, 41.49723706994289),
 ('European Union', 450146793, 184862903.0, 41.06724870080325),
 ('Saint Helena', 5401, 2166.0, 40.10368450286984)]

In [29]:
%%sql

Select Location, Population,date, Max(total_cases) as HighestInfectionCount, Max((total_cases/population))*100 as PercentPopulationInfected
From Covid_Deaths
Group by Location, Population, date
order by PercentPopulationInfected desc
LIMIT 50

 * sqlite:///CovidDeaths.db
   sqlite:///CovidVaccinations.db
Done.

[('San Marino', 33690, '11/21/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '11/22/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '11/23/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '11/24/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '11/25/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '11/26/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '11/27/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '11/28/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '11/29/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '11/30/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/1/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/10/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/11/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/12/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/13/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/14/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/15/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/16/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/17/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/18/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/19/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/2/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/3/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/4/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/5/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/6/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/7/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/8/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '12/9/23', 25292.0, 75.07272187592757),
 ('San Marino', 33690, '11/14/23', 25133.0, 74.60077174235678),
 ('San Marino', 33690, '11/15/23', 25133.0, 74.60077174235678),
 ('San Marino', 33690, '11/16/23', 25133.0, 74.60077174235678),
 ('San Marino', 33690, '11/17/23', 25133.0, 74.60077174235678),
 ('San Marino', 33690, '11/18/23', 25133.0, 74.60077174235678),
 ('San Marino', 33690, '11/19/23', 25133.0, 74.60077174235678),
 ('San Marino', 33690, '11/20/23', 25133.0, 74.60077174235678),
 ('San Marino', 33690, '11/10/23', 24870.0, 73.82012466607301),
 ('San Marino', 33690, '11/11/23', 24870.0, 73.82012466607301),
 ('San Marino', 33690, '11/12/23', 24870.0, 73.82012466607301),
 ('San Marino', 33690, '11/13/23', 24870.0, 73.82012466607301),
 ('San Marino', 33690, '11/7/23', 24870.0, 73.82012466607301),
 ('San Marino', 33690, '11/8/23', 24870.0, 73.82012466607301),
 ('San Marino', 33690, '11/9/23', 24870.0, 73.82012466607301),
 ('Cyprus', 896007, '10/1/23', 660854.0, 73.7554505712567),
 ('Cyprus', 896007, '10/10/23', 660854.0, 73.7554505712567),
 ('Cyprus', 896007, '10/11/23', 660854.0, 73.7554505712567),
 ('Cyprus', 896007, '10/12/23', 660854.0, 73.7554505712567),
 ('Cyprus', 896007, '10/13/23', 660854.0, 73.7554505712567),
 ('Cyprus', 896007, '10/14/23', 660854.0, 73.7554505712567),
 ('Cyprus', 896007, '10/15/23', 660854.0, 73.7554505712567)]

In [22]:
#Showing Countries with Highest Death Count per Population

%%sql

Select location, MAX(cast(Total_deaths as int)) as TotalDeathCount
From Covid_Deaths
Where continent is not null
Group by location
order by TotalDeathCount desc

 * sqlite:///CovidDeaths.db
   sqlite:///CovidVaccinations.db
Done.

[('United States', 1144877),
 ('Brazil', 702116),
 ('India', 533316),
 ('Russia', 400771),
 ('Mexico', 334938),
 ('United Kingdom', 232112),
 ('Peru', 221564),
 ('Italy', 193419),
 ('Germany', 174979),
 ('France', 167985),
 ('Indonesia', 161930),
 ('Iran', 146741),
 ('Colombia', 142727),
 ('Argentina', 130682),
 ('China', 121880),
 ('Spain', 121852),
 ('Poland', 119886),
 ('Ukraine', 109918),
 ('South Africa', 102595),
 ('Turkey', 101419),
 ('Japan', 74694),
 ('Romania', 68611),
 ('Philippines', 66779),
 ('Chile', 64497),
 ('Canada', 53470),
 ('Hungary', 48874),
 ('Vietnam', 43206),
 ('Czechia', 43153),
 ('Bulgaria', 38539),
 ('Greece', 38009),
 ('Malaysia', 37218),
 ('Ecuador', 36036),
 ('South Korea', 35934),
 ('Thailand', 34506),
 ('Belgium', 34339),
 ('Pakistan', 30656),
 ('Bangladesh', 29477),
 ('Tunisia', 29423),
 ('Portugal', 27764),
 ('Sweden', 25728),
 ('Iraq', 25375),
 ('Egypt', 24830),
 ('Australia', 23915),
 ('Netherlands', 22986),
 ('Austria', 22534),
 ('Bolivia', 22385),
 ('Slovakia', 21170),
 ('Guatemala', 20201),
 ('Paraguay', 19941),
 ('Myanmar', 19494),
 ('Kazakhstan', 19072),
 ('Croatia', 18495),
 ('Serbia', 18057),
 ('Georgia', 17132),
 ('Sri Lanka', 16886),
 ('Bosnia and Herzegovina', 16374),
 ('Morocco', 16298),
 ('Switzerland', 14125),
 ('Jordan', 14122),
 ('Israel', 12707),
 ('Moldova', 12159),
 ('Nepal', 12031),
 ('Honduras', 11114),
 ('Lebanon', 10947),
 ('Finland', 10883),
 ('Azerbaijan', 10367),
 ('North Macedonia', 9960),
 ('Lithuania', 9773),
 ('Saudi Arabia', 9646),
 ('Slovenia', 9581),
 ('Ireland', 9376),
 ('Costa Rica', 9368),
 ('Denmark', 8929),
 ('Armenia', 8775),
 ('Panama', 8652),
 ('Cuba', 8530),
 ('Afghanistan', 7966),
 ('Uruguay', 7660),
 ('Ethiopia', 7574),
 ('Latvia', 7430),
 ('Belarus', 7118),
 ('Algeria', 6881),
 ('Libya', 6437),
 ('Puerto Rico', 5938),
 ('Venezuela', 5856),
 ('Norway', 5732),
 ('Zimbabwe', 5730),
 ('Palestine', 5708),
 ('Kenya', 5689),
 ('Sudan', 5046),
 ('Oman', 4628),
 ('Trinidad and Tobago', 4390),
 ('Dominican Republic', 4384),
 ('El Salvador', 4230),
 ('Namibia', 4103),
 ('Zambia', 4069),
 ('Uganda', 3632),
 ('Albania', 3604),
 ('New Zealand', 3596),
 ('Jamaica', 3590),
 ('Kosovo', 3212),
 ('Syria', 3163),
 ('Nigeria', 3155),
 ('Cambodia', 3056),
 ('Estonia', 2934),
 ('Botswana', 2800),
 ('Malawi', 2686),
 ('Montenegro', 2654),
 ('Kuwait', 2570),
 ('United Arab Emirates', 2349),
 ('Mongolia', 2284),
 ('Mozambique', 2250),
 ('Yemen', 2159),
 ('Cameroon', 1974),
 ('Senegal', 1971),
 ('Angola', 1937),
 ('Singapore', 1933),
 ('Bahrain', 1536),
 ('Rwanda', 1468),
 ('Democratic Republic of Congo', 1468),
 ('Ghana', 1462),
 ('Eswatini', 1427),
 ('Madagascar', 1426),
 ('Suriname', 1404),
 ('Cyprus', 1364),
 ('Somalia', 1361),
 ('Guyana', 1299),
 ('Martinique', 1104),
 ('Mauritius', 1056),
 ('Kyrgyzstan', 1024),
 ('Guadeloupe', 1021),
 ('Uzbekistan', 1016),
 ('Luxembourg', 1000),
 ('Mauritania', 997),
 ('Reunion', 921),
 ('Malta', 885),
 ('Fiji', 885),
 ('Haiti', 860),
 ('Tanzania', 846),
 ('Bahamas', 844),
 ("Cote d'Ivoire", 835),
 ('Mali', 743),
 ('Lesotho', 709),
 ('Qatar', 690),
 ('Belize', 688),
 ('Laos', 671),
 ('Papua New Guinea', 670),
 ('French Polynesia', 649),
 ('Barbados', 593),
 ('Guinea', 468),
 ('Guam', 417),
 ('Cape Verde', 416),
 ('French Guiana', 413),
 ('Saint Lucia', 410),
 ('Burkina Faso', 399),
 ('Congo', 389),
 ('Gambia', 372),
 ('Maldives', 316),
 ('Niger', 315),
 ('New Caledonia', 314),
 ('Gabon', 307),
 ('Curacao', 305),
 ('Liberia', 294),
 ('Aruba', 292),
 ('Togo', 290),
 ('Nicaragua', 245),
 ('Grenada', 238),
 ('Solomon Islands', 199),
 ('Chad', 194),
 ('Djibouti', 189),
 ('Mayotte', 187),
 ('Iceland', 186),
 ('Equatorial Guinea', 183),
 ('Guinea-Bissau', 177),
 ('Seychelles', 172),
 ('Brunei', 168),
 ('Bermuda', 165),
 ('Benin', 163),
 ('Jersey', 161),
 ('Comoros', 161),
 ('Andorra', 159),
 ('South Sudan', 147),
 ('Antigua and Barbuda', 146),
 ('Timor', 138),
 ('United States Virgin Islands', 132),
 ('Sierra Leone', 126),
 ('San Marino', 126),
 ('Tajikistan', 125),
 ('Saint Vincent and the Grenadines', 124),
 ('Isle of Man', 116),
 ('Gibraltar', 113),
 ('Central African Republic', 113),
 ('Eritrea', 103),
 ('Sint Maarten (Dutch part)', 92),
 ('Liechtenstein', 87),
 ('Sao Tome and Principe', 80),
 ('Dominica', 74),
 ('Monaco', 67),
 ('Guernsey', 67),
 ('Micronesia (country)', 65),
 ('British Virgin Islands', 64),
 ('Saint Martin (French part)', 46),
 ('Saint Kitts and Nevis', 46),
 ('Northern Mariana Islands', 41),
 ('Bonaire Sint Eustatius and Saba', 41),
 ('Turks and Caicos Islands', 40),
 ('Cayman Islands', 37),
 ('American Samoa', 34),
 ('Samoa', 31),
 ('Faeroe Islands', 28),
 ('Kiribati', 24),
 ('Greenland', 21),
 ('Bhutan', 21),
 ('Marshall Islands', 17),
 ('Burundi', 15),
 ('Vanuatu', 14),
 ('Tonga', 12),
 ('Anguilla', 12),
 ('Palau', 9),
 ('Wallis and Futuna', 8),
 ('Montserrat', 8),
 ('Saint Barthelemy', 5),
 ('Saint Pierre and Miquelon', 2),
 ('Cook Islands', 2),
 ('Tuvalu', 1),
 ('Nauru', 1),
 ('Western Sahara', None),
 ('Wales', None),
 ('Vatican', None),
 ('Turkmenistan', None),
 ('Tokelau', None),
 ('Taiwan', None),
 ('Scotland', None),
 ('Saint Helena', None),
 ('Pitcairn', None),
 ('Northern Ireland', None),
 ('Northern Cyprus', None),
 ('North Korea', None),
 ('Niue', None),
 ('Macao', None),
 ('Hong Kong', None),
 ('Falkland Islands', None),
 ('England', None)]

In [23]:
#Showing Countries with Highest Death Count per continent
%%sql

Select continent, MAX(cast(Total_deaths as int)) as TotalDeathCount
From Covid_Deaths
Where continent is not null
Group by continent
order by TotalDeathCount desc

 * sqlite:///CovidDeaths.db
   sqlite:///CovidVaccinations.db
Done.

[('North America', 1144877),
 ('South America', 702116),
 ('Asia', 533316),
 ('Europe', 400771),
 ('Africa', 102595),
 ('Oceania', 23915)]

In [24]:
#Total Global Numbers
%%sql

Select SUM(new_cases), SUM(cast(new_deaths as int)),
SUM(cast(new_deaths as int))/SUM(New_Cases)*100 as DeathPercentage
From Covid_Deaths

 * sqlite:///CovidDeaths.db
   sqlite:///CovidVaccinations.db
Done.

[(3275323142.0, 29159680, 0.8902840646799302)]